</main>

<footer class="white bg-gray">
  <div class="footer-container">
    <div class="loga center">
      <img src="/assets/logo1.png"><br>
      <img src="/assets/logo2.png"><br>
      <img src="/assets/logo3.png">
    </div>
    <div class="grid">
      <div class="boxes">
        <div class="kontakt">
          <dt class="bold large blue">Kontakt</dt>
          <strong>Icyizol s.r.o.</strong><br> Smetanova 955<br> 468 51 Smržovka<br>
        </div>
      </div>
      <div class="boxes">
        <div class="label">
          <dt class="bold large blue">Technické informace</dt>
        </div>
        <div class="informace">
          <div class="">
            <strong>Měkká pěna ICYNENE</strong>
            <ul>
              <li><a href="http://chytraizolace.cz/xobsah/uploads/2015/07/prohlaseni_mekka.pdf" class="white">Prohlášení o vlastnostech</a></li>
              <li><a href="http://chytraizolace.cz/xobsah/uploads/2016/06/Certifik%C3%A1t-do-20.11.2018.pdf" class="white">Hygienický certifikát</a></li>
              <li><a href="http://chytraizolacia.sk/xobsah/uploads/2016/07/Izolace_bez_starosti.pdf" class="white">Prospekt</a></li>
            </ul>
          </div>
          <div class="">
            <strong>Polotvrdá pěna SMARTISOL</strong>
            <ul>
              <li><a href="http://chytraizolace.cz/xobsah/uploads/2016/05/prehlasenie.pdf" class="white">Prohlášení o vlastnostech</a></li>
              <li><a href="http://chytraizolace.cz/xobsah/uploads/2015/07/hygiena_tvrda.pdf" class="white">Hygienický certifikát</a></li>
              <li><a href="http://chytraizolace.cz/xobsah/uploads/2015/12/Polotvrda_pe%CC%8Cna_prospekt.pdf" class="white">Prospekt</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="boxes">
        <div class="">
          <dt class="bold large blue">Sociální sítě</dt> odkazy
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/vendor/jquery.min.js"></script>
<script src="/assets/vendor/swipebox.min.js"></script>
<script src="/assets/helpers.js"></script>
</body>
</html>
