</main>

<footer class="white bg-gray">
  <div class="footer-container">
    <div class="loga center">
      <img src="/assets/logo1.png"><br>
      <div class="partner">PARTNER</div>
      <img src="/assets/logo3.png">
    </div>
    <div class="grid">
      <div class="boxes">
        <div class="kontakt">
          <dt class="bold large blue">Kontakt</dt>
          <strong>Icyizol s.r.o.</strong><br> Smetanova 955<br> 468 51 Smržovka<br>IČ 04421990
        </div>
      </div>
      <div class="boxes">
        <div class="label">
          <dt class="bold large blue">Technické informace</dt>
        </div>
        <div class="informace">
          <div class="">
            <strong>Měkká pěna ICYNENE</strong>
            <ul>
              <li><a href="/assets/original/prohlaseni_mekka.pdf" class="white">Prohlášení o vlastnostech</a></li>
              <li><a href="/assets/original/Certifikat-do-20.11.2018.pdf" class="white">Hygienický certifikát</a></li>
              <li><a href="/assets/original/Izolace_bez_starosti.pdf" class="white">Prospekt</a></li>
            </ul>
          </div>
          <div class="">
            <strong>Polotvrdá pěna IcyFoam Basic</strong>
            <ul>
              <li><a href="/assets/IcyFoam-Basic.pdf" class="white">Prohlášení o vlastnostech</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="boxes">
        <div class="">
          <dt class="bold large blue">Sociální sítě</dt>
          <div class="center">
            <a href="https://www.facebook.com/Icyizol-sro-Chytrá-izolace-Icynene-1474279639543501/" target="_blank">
              <img src="/assets/facebook.png" alt="Facebook">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/vendor/jquery.min.js"></script>
<script src="/assets/vendor/swipebox.min.js"></script>
<script src="/assets/helpers.js?v=2017-08-28"></script>
</body>
</html>
