</main>

<footer class="white bg-gray">
  <div class="loga">
    <h1>Large Logo Here</h1>
  </div>
  <div class="grid">
    <div class="boxes">
      <div class="kontakt">
        <dt class="bold blue">Kontakt</dt>
        <strong>Icyizol s.r.o.</strong><br> Smetanova 955<br> 468 51 Smržovka<br>
        <!--<br>
            tel.: +420 725 056 004<br>
            <a href="tel:+420800884884">800 884 884</a><br>
            info@origis.cz-->
      </div>
    </div>
    <div class="boxes">
      <div class="">
        <dt class="bold blue">Technické informace</dt>
        <strong>Měkká pěna ICYNENE</strong>
        <ul>
          <li><a href="" class="white">Prohlášení o vlastnostech</a></li>
          <li><a href="" class="white">Hygienický certifikát</a></li>
          <li><a href="" class="white">Prospekt</a></li>
        </ul>
      </div>
      <div class="">
        <dt>&nbsp;</dt>
        <strong>Polotvrdá pěna SMARTISOL</strong>
        <ul>
          <li><a href="" class="white">Prohlášení o vlastnostech</a></li>
          <li><a href="" class="white">Hygienický certifikát</a></li>
          <li><a href="" class="white">Prospekt</a></li>
        </ul>
      </div>
    </div>
    <div class="boxes">
      <div class="">
        <dt class="bold blue">Sociální sítě</dt> odkazy
      </div>
    </div>
  </div>
</footer>
</body>
</html>
