<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}} - {{/if}}Icyizol - Dokonalé zateplení</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css?v=2017-01-20" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/swipebox.min.css" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#005ca7">
  <meta name="apple-mobile-web-app-title" content="Icyizol">
  <meta name="application-name" content="Icyizol">
  <meta name="theme-color" content="#005ca7">
  {{#if watchMode}}<script src="http://localhost:35729/livereload.js"></script>{{/if}}
</head>
<body{{#is "/" path.href}} class="homepage" {{/is}}>
  <header>
    <div>
      <a href="/"><img src="/assets/top.png" alt="Dokonalé zateplení - penovezatepleni.cz"></a>
      <a href="/"><img src="/assets/mapa.png" class="mapa"></a>
      <a href="/"><img src="/assets/title_bg.png" class="bottom-img"></a>
      <nav class="navcontainer-right">
        <ul class="navlist-right">
          <li class="bold{{#startsWith "/partneri" path.href}} active{{/startsWith}}">
            <a href="/partneri.html">Partneři</a>
          </li>
        </ul>
      </nav>
      <nav class="navcontainer">
        <div class="menubutton">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlist">
          <li class="bold{{#startsWith "/o-nas" path.href}} active{{/startsWith}}">
            <a href="/o-nas.html">O nás</a>
          </li>
          <li class="bold{{#startsWith "/co-je-to" path.href}} active{{/startsWith}}">
            <a href="/co-je-to-chytra-izolace.html">Chytrá izolace<span style="vertical-align:super;line-height:.8;">®</span></a>
          </li>
          <li class="bold{{#startsWith "/produkty" path.href}} active{{/startsWith}}">
            <a href="/produkty.html">Produkty</a>
          </li>
          <li class="bold{{#startsWith "/reference" path.href}} active{{/startsWith}}">
            <a href="/reference.html">Reference</a>
          </li>
          <li class="bold{{#startsWith "/aktuality" path.href}} active{{/startsWith}}">
            <a href="/aktuality.html">Aktuality</a>
          </li>
          <li class="bold">
            <a href="http://www.chytraizolace.cz/cs/knihovna-pro-architekty" target="_blank">Technický rádce</a>
          </li>
          <li class="bold{{#startsWith "/kontakt" path.href}} active{{/startsWith}}">
            <a href="/kontakt.html">Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {{#if (get path.href submenus)}}
  <div class="subheader submenu">
    <div>
      {{#each (get path.href submenus)}}
      <a href="{{href}}" {{#is href ../path.href}} class="active" {{/is}}>{{label}}</a> {{/each}}
    </div>
  </div>
  {{/if}}
  {{^startsWith "/rychly-dotaz" path.href}}
    <a href="/rychly-dotaz.html#dotaz" class="rychly-dotaz bg-red white rohy">Rychlý dotaz</a>
  {{/startsWith}}

  <main>
    <a href="/kalkulace.html#formular" class="kalkulace nadpis white bg-yellow under-menu">
      <div>Připravíme Vám cenovou kalkulaci <span class="red">zdarma</span></div>
    </a>
