<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}} - {{/if}}Icyizol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico"> {{#if watchMode}}
  <script src="http://localhost:35729/livereload.js"></script>{{/if}}
</head>
<body{{#is "/" path.href}} class="homepage" {{/is}}>
  <header>
    <div>
      {{#isnt "/" path.href}}<a href="/">{{/isnt}}
      <img src="/assets/origis/2016-katemihalikova/logo.png">
    {{#isnt "/" path.href}}</a>{{/isnt}}
      <nav class="navcontainer">
        <div class="menubutton">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navlist">
          <li class="bold pv">
            <a href="/onas/" {{#startsWith "onas" path.dir}} class="active" {{/startsWith}}>O nás</a>
          </li>
          <li class="bold pv">
            <a href="/produckty/" {{#startsWith "produckty" path.dir}} class="active" {{/startsWith}}>Produkty</a>
          </li>
          <li class="bold pv">
            <a href="/referencec/" {{#startsWith "referencec" path.dir}} class="active" {{/startsWith}}>Reference</a>
          </li>
          <li class="bold pv">
            <a href="/aktuality/" {{#startsWith "aktuality" path.dir}} class="active" {{/startsWith}}>Aktuality</a>
          </li>
          <li class="bold pv">
            <!-- TODO: FIX THIS LINK -->
            <a href="/knihovna/" {{^startsWith "technologie/caste-dotazy" path.dir}}{{#startsWith "technologie" path.dir}} class="active" {{/startsWith}}{{/startsWith}}>Knihovna</a>
          </li>
          <!-- <li class="bold pv">
              <a href="/technologie/caste-dotazy/"{{#startsWith "technologie/caste-dotazy" path.dir}} class="active"{{/startsWith}}>Časté dotazy</a>
            </li> -->
          <li class="bold pv">
            <a href="/kontakt/" {{#startsWith "kontakt" path.dir}} class="active" {{/startsWith}}>Kontakt</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {{#if (get path.href submenus)}}
  <div class="subheader submenu">
    <div>
      {{#each (get path.href submenus)}}
      <a href="{{href}}" {{#is href ../path.href}} class="active" {{/is}}>{{label}}</a> {{/each}}
    </div>
  </div>
  {{/if}}
  <a href="" class="rychly-dotaz bg-red white rohy">Rychlý dotaz</a>

  <main>
