{{> _header}}

<a href="" class="kalkulace nadpis white bg-yellow">
  <div>Připravíme Vám cenovou kalkulaci <span class="red">zdarma</span></div>
</a>
<section>
  <div>
    <dt class="nadpis">Co potřebujete izolovat?</dt>
    <div class="grid boxes larger bold center pv">
      <a href="" class="col blue">
        <img src="/assets/dum.png" class="rohy">Rodinné domy
      </a>
      <a href="" class="col blue">
        <img src="/assets/komercni.png" class="rohy">Komerční stavby
      </a>
      <a href="" class="col blue">
        <img src="/assets/specialni.png" class="rohy">Speciální stavby
      </a>
    </div>
  </div>
</section>
<section class=" bg-green">
  <div class="grid boxes">
    <div class="col">
      <dt class="white large bold">5 důvodů proč Icynene</dt>
      <p>V létě chladí, v zimě hřeje. Lidé po staletí bojují s přírodou a klimatickými podmínkami&hellip;</p>
      <a href="" class="white bg-yellow rohy button">VÍCE</a>
    </div>
    <div class="col">
      <dt class="white large bold">Průběh izolace od A po Z</dt>
      <p>První kontakt s naší společností vede přes bezpatnou infolinku nebo kontaktní formulář, který najdete na&hellip;</p>
      <a href="" class="white bg-yellow rohy button">VÍCE</a>
    </div>
    <div class="col">
      <dt class="white large bold">Za co všechno ručíme</dt>
      <p>Společnost Icyizol má zkušenost s širokou škálou projektů&hellip;</p>
      <a href="" class="white bg-yellow rohy button">VÍCE</a>
    </div>
  </div>
</section>
<section>
  <div></div>
</section>

{{> _footer}}
