{{> _header}}

<section>
  <div class="test">
    <dt class="nadpis">Co potřebujete izolovat?</dt>
    <div class="grid larger bold center pv">
      <a href="/rodinne-domy.html" class="blue col">
        <img src="/assets/dum.png" class="rohy">
        <p>Rodinné domy</p>
      </a>
      <a href="/komercni-stavby.html" class="blue col">
        <img src="/assets/komercni.png" class="rohy">
        <p>Komerční stavby</p>
      </a>
      <a href="/specialni-objekty.html" class="blue col">
        <img src="/assets/specialni.png" class="rohy">
        <p>Speciální stavby</p>
      </a>
    </div>
  </div>
</section>
<section class="bg-green" no-gallery>
  <div class="grid">
    <div class="boxes">
      <dt class="white large bold">Co je to Chytrá izolace®</dt>
      <p>Chytrá izolace® je systém zateplení kanadskou izolační pěnou Icynene®, která je vyrobena na vodní bázi&hellip;</p>
      <a href="/co-je-to-chytra-izolace.html" class="white bg-yellow rohy button">VÍCE</a>
    </div>
    <div class="boxes">
      <dt class="white large bold center">Průběh izolace od A po Z</dt>
      <p>První kontakt s naší společností vede přes naší infolinku nebo kontaktní formulář, který najdete zde.</p>
      <a href="/kalkulace.html#formular" class="white bg-yellow rohy button">VÍCE</a>
    </div>
    <div class="boxes">
      <dt class="white large bold">Za co všechno ručíme</dt>
      <p>Společnost Icyizol má zkušenost s širokou škálou projektů&hellip;</p>
      <a href="reference.html" class="white bg-yellow rohy button">VÍCE</a>
    </div>
  </div>
</section>
<section>
  <div class="test">
    <dt class="nadpis">Chcete vidět Icynene přímo v akci?</dt>
    <p><iframe src="https://www.youtube.com/embed/1HSXS5z5lu8?feature=oembed" allowfullscreen></iframe></p>
  </div>
</section>

{{> _footer}}
