{{> _header}}

<a href="" class="kalkulace nadpis white bg-yellow">
  <div>Připravíme Vám cenovou kalkulaci <span class="red">zdarma</span></div>
</a>
<section>
  <div class="test">
    <dt class="nadpis">Co potřebujete izolovat?</dt>
    <div class="grid larger bold center pv">
      <a href="" class="blue">
        <img src="/assets/dum.png" class="rohy"><p>Rodinné domy</p>
      </a>
      <a href="" class="blue">
        <img src="/assets/komercni.png" class="rohy"><p>Komerční stavby</p>
      </a>
      <a href="" class="blue">
        <img src="/assets/specialni.png" class="rohy"><p>Speciální stavby</p>
      </a>
    </div>
  </div>
</section>
<section class="bg-green">
  <div class="grid">
    <div class="boxes">
      <dt class="white large bold">5 důvodů proč Icynene</dt>
      <p>1. V létě chladí, v zimě hřeje. Lidé po staletí bojují s přírodou a klimatickými podmínkami&hellip;</p>
      <a href="" class="white bg-yellow rohy button">VÍCE</a>
    </div>
    <div class="boxes">
      <dt class="white large bold center">Průběh izolace od A po Z</dt>
      <p>První kontakt s naší společností vede přes bezpatnou infolinku nebo kontaktní formulář, který najdete na&hellip;</p>
      <a href="" class="white bg-yellow rohy button">VÍCE</a>
    </div>
    <div class="boxes">
      <dt class="white large bold">Za co všechno ručíme</dt>
      <p>Společnost Icyizol má zkušenost s širokou škálou projektů&hellip;</p>
      <a href="" class="white bg-yellow rohy button">VÍCE</a>
    </div>
  </div>
</section>
<section>
  <div></div>
</section>

{{> _footer}}
