$max-width: 1024px;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$colors: ("yellow": gold, "green": yellowgreen, "red": red, "white": white, "gray": #8a8a8a, "blue": #00679c);

body {
  background-color: map-get($colors, "gray");
}

header {
  background-color: map-get($colors, "white");
  height: 30em;
  position: relative;
}

.navcontainer {
  margin: 0 0 2em 2em;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

.menubutton {
  width: 60px;
  height: 45px;
  margin: auto 0 0;
  position: relative;
  cursor: pointer;
  @media all and (min-width: 30em) {
    display: none;
  }

  > span {
    content: "";
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: map-get($colors, "blue");
    border-radius: 3px 0;
    left: 0;
  }
}

.menubutton span:nth-child(1) {
  top: 0;
}

.menubutton span:nth-child(2) {
  top: 18px;
}

.menubutton span:nth-child(3) {
  top: 36px;
}

.navlist {
  display: none;
  list-style: none;
  padding-left: 0;
  margin: 0 auto 0 1em;
  border-radius: 15px 0;
  background: map-get($colors, "blue");
  @media all and (min-width: 30em) {
    display: block;
  }

  > li a {
    text-decoration: none;
    text-transform: uppercase;
    color: map-get($colors, "white");
    padding: 0.5em 2em;
  }

  > li:hover,
  li:active {
    background: map-get($colors, "green");
  }
}

.navlist li:first-child {
  border-top-left-radius: 15px;
}

.navlist li:last-child {
  border-bottom-right-radius: 15px;
}

.navlist li:not(:last-child) {
  border-bottom: 1px solid map-get($colors, "white");
}

.navlist.is-open {
  display: inline-block;
}

main {
  background-color: map-get($colors, "white");

   > section,
  > a {
    display: block;
    padding: 20px;
    text-decoration: none;

    > div {
      margin: 0 auto;
      max-width: $max-width;
      @media all and (min-width: 30em) {
        max-width: 1200px;
      }
    }
  }
}

.rychly-dotaz {
  position: fixed;
  top: 50%;
  right: 0;
  transform: rotateZ(90deg) translateX(50%);
  transform-origin: right top;
  padding: 10px 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.grid {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > a.blue {
    padding: 1em 2em;
    text-decoration: none;
  }
  .boxes {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
  }
  @media all and (min-width: 30em) {
    flex-direction: row;
    align-self: stretch;
    .boxes {
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}



.large {
  font-size: 1.2em;
}

.larger {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.pv {
  padding: 20px 0;
}
footer {
  @media all and (min-width: 30em) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-container {
  max-width: $max-width;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  .grid {
    align-items: baseline;
    padding: 0 0 2em 2.5em;
    .boxes:nth-child(2) .informace > div:last-child {
      padding-top: 1em;
    }
    .boxes:nth-child(n+2) {
      align-items: baseline;
    }
  }
  a {
    text-decoration: none;
  }

  dt {
    text-transform: uppercase;
    padding-bottom: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;

      &:before {
        position: absolute;
        content: "●";
        left: -.9em;
        color: map-get($colors, "blue");
      }
    }
  }
  @media all and (min-width: 30em) {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    .loga {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .grid {
      flex: 3;
      flex-direction: row;
      justify-content: center;
      padding: 2em 0;
      .boxes {
        padding: auto;
      }
      .boxes:first-child, .boxes:last-child {
        flex: 0.75;
        align-items: center;
      }
      .boxes:nth-child(2) {
        flex: 1.5;
        flex-direction: column;
        justify-content: space-around;
        .label {
          flex: 1 100%;
        }
        .informace {
          align-self: stretch;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
        }
      }
    }
  }
  // .social a {
  //   img {
  //     width: $footer-social-icon-width;
  //     height: $footer-social-icon-width;
  //     transition: transform $footer-social-icon-scale-duration;
  //     margin: 0 5px 0 0;
  //   }
  //   &:hover img {
  //     transform: scale($footer-social-icon-scale);
  //   }
  // }
  // </footer>
}

.nadpis {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.rohy {
  border-radius: 15px 0;
}

.button {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
}
@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: $font;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
