$max-width: 1024px;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$colors: ("yellow": gold, "green": #96c11e, "red": red, "white": white, "gray": #8a8a8a, "blue": #005ca7);

body {
  background-color: map-get($colors, "gray");
}

header {
  background-color: map-get($colors, "white");
  > div {
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    > a {
      display: block;
    }
  }
}

.bottom-img {
  display: block;
  @media all and (min-width: 600px) {
    margin: 10px auto -222px;
  }
}

.navcontainer {
  display: flex;
  flex-direction: row;
  @media all and (min-width: 600px) {
    position: relative;
  }

  #obsah {
    width: 0;
    height: 0;
    @media all and (min-width: 600px) {
      position: absolute;
      bottom: 0;
    }
  }
}

.menubutton {
  width: 60px;
  height: 45px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  @media all and (min-width: 600px) {
    display: none;
  }

  > span {
    content: "";
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: map-get($colors, "blue");
    border-radius: 5px 0;
    left: 0;
  }
}

.menubutton span:nth-child(1) {
  top: 0;
}

.menubutton span:nth-child(2) {
  top: 18px;
}

.menubutton span:nth-child(3) {
  top: 36px;
}

.navlist, .navlist-right {
  list-style: none;
  padding-left: 0;
  z-index: 99;
  @extend .rohy;

  > li {
     a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: map-get($colors, "white");
      padding: 1em 2.5em;
    }

    &:hover, &.active {
      background-color: map-get($colors, "green");
    }

    & + li {
      border-top: 1px solid map-get($colors, "white");
    }

    &:first-child {
      border-top-left-radius: 15px;
    }
    &:last-child {
      border-bottom-right-radius: 15px;
    }
  }
}
.navlist {
  display: none;
  background-color: map-get($colors, "blue");

  @media all and (max-width: 599.9px) {
    position: absolute;
    left: 80px;
    right: 0;
    top: 20px;
    max-width: 14.5em;
    margin: 0;
  }
  @media all and (min-width: 600px) {
    display: block;
    margin: 0 0 -120px 5px;
  }

  &.is-open {
    display: inline-block;
  }
}
.navlist-right {
  background-color: map-get($colors, "red");
  width: auto;

  @media all and (max-width: 599.9px) {
    float: right;
    margin: 5px 10px;
  }
  @media all and (min-width: 600px) {
    position: absolute;
    right: 10px;
    bottom: 20px;
    margin: 0;
  }
}

main {
  background-color: map-get($colors, "white");

   > section,
  > a {
    display: block;
    padding: 20px;
    text-decoration: none;

    > div {
      margin: 0 auto;
      max-width: $max-width;
    }
  }
}

.rychly-dotaz {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 5px map-get($colors, "white");
  transform: rotateZ(90deg) translateX(50%);
  transform-origin: right top;
  padding: 10px 15px;
  font-size: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
  @media all and (max-width: 599.9px) {
    font-size: .8em;
    top: auto;
    bottom: 130px;
    opacity: 1;
  }
}

.mapa {
  width: 38vw;
  position: absolute;
  right: 2vw;
  margin-top: 65px;
  max-width: 380px;
  @media all and (max-width: 599.9px) {
    margin-top: 5vw;
  }
}

.partneri {
  img {
    border-radius: 0;
  }
}

// .grid {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   > a.blue {
//     padding: 1em 2em;
//     text-decoration: none;
//   }
//   .boxes {
//     display: flex;
//     flex: 1;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1em 2em;
//   }
//   @media all and (min-width: 600px) {
//     flex-direction: row;
//     align-self: stretch;
//     .boxes {
//       align-items: flex-start;
//       justify-content: space-between;
//     }
//   }
// }

.grid {
  display: block;
  @media all and (min-width: 600px) {
    display: flex;
  }
  .partneri & {
    @media all and (max-width: 767.9px) {
      display: block;
      & > .col {
        &, &:not(:first-child), &:not(:last-child) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  > .col {
    flex: 1 1 0;
  }
  > .doublecol {
    flex: 2 1 0;
  }
  > .autocol {
    flex: 1 1 auto;
  }
  > .minicol {
    flex: 0 1 auto;
  }
  > .col, > .doublecol, > .autocol, > .minicol {
    display: block;
    @media all and (min-width: 600px) {
      &:not(:first-child) {
        padding-left: 15px;
        &.no-padding {
          padding-left: 0;
        }
      }
      &:not(:last-child) {
        padding-right: 15px;
        &.no-padding {
          padding-right: 0;
        }
      }
    }
  }
  &.half {
    @media all and (min-width: 600px) {
      .col:first-child {
        flex: 0 1 30%;
      }
    }
    @media all and (min-width: 880px) {
      &:last-of-type .col:first-child {
        flex: 0 1 60%;
      }
      width: 50%;
      padding: 0 20px;
      // margin: 0 -20px;
      float: left;
    }
  }
}

.partneri {
  @media all and (max-width: 767.9px) {
    hr {
      display: none;
    }
    p:first-child, hr + p {
      margin-bottom: 0;
      &:before {
        display: block;
        content: "";
        border-bottom: 1px solid map-get($colors, "blue");
        margin: 10px 0;
      }
    }
  }
}

.boxes {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 1em 2em;
 }


.large {
  font-size: 1.2em;
}

.larger {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.pv {
  padding: 20px 0;
}
footer {
  @media all and (min-width: 600px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-container {
  max-width: $max-width;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  .grid {
    align-items: baseline;
    @media all and (min-width: 600px) {
      padding: 0 0 2em 2.5em;
    }
  }
  a {
    text-decoration: none;
  }

  dt {
    text-transform: uppercase;
    padding-bottom: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 1em;

      &:before {
        position: absolute;
        content: "●";
        left: .1em;
        color: map-get($colors, "blue");
      }
    }
  }
  .loga {
    padding: 10px 5px 0;
  }
  @media all and (min-width: 30em) {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    .loga {
      padding: 10px 5px 0;
      flex: 1 1 20%;
    }
    .grid {
      flex: 1 1 80%;
      flex-direction: row;
      justify-content: center;
      padding: 2em 0;
      .boxes {
        padding: auto;
      }
      .boxes:first-child, .boxes:last-child {
        flex: 1 1 25%;
        align-items: center;
      }
      .boxes:nth-child(2) {
        flex: 1 1 50%;
        flex-direction: column;
        justify-content: space-around;
        .label {
          flex: 1 1 100%;
        }
        .informace {
          align-self: stretch;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
        }
      }
    }
  }
  // .social a {
  //   img {
  //     width: $footer-social-icon-width;
  //     height: $footer-social-icon-width;
  //     transition: transform $footer-social-icon-scale-duration;
  //     margin: 0 5px 0 0;
  //   }
  //   &:hover img {
  //     transform: scale($footer-social-icon-scale);
  //   }
  // }
  // </footer>
}

.under-menu > div {
  @media all and (min-width: 600px) {
    padding: 0 15px 0 240px;
  }
}

.nadpis {
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  @extend .nadpis;
  color: map-get($colors, "blue");
  .white & {
    color: white;
  }
}

h1, .h1, h2, .h2, hr, .no-border hr {
  border-bottom: 1px solid map-get($colors, "blue");
}

h3, .h3, h4, .h4 {
  text-transform: none;
  font-variant: small-caps;
  padding: 10px 5px;
}

h1, .h1 {
  font-size: 40px;
}
h2, .h2 {
  font-size: 35px;
}
h3, .h3 {
  font-size: 30px;
}
h4, .h4 {
  font-size: 25px;
  &.flexy {
    @media all and (max-width: 599.9px) {
      font-size: 18px;
      padding: 5px 0 20px;
    }
    @media all and (min-width: 600px) {
      font-size: 25px;
      font-size: 2vmin;
    }
  }
}

.rohy {
  border-radius: 15px 0;
}

.button, input[type=submit], input[type=button] {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  font-weight: bold;
}

.no-under, .no-under * {
  text-decoration: none;
}
.no-border, .no-border * {
  border: none;
  img {
    background-color: transparent;
  }
}

img {
  max-width: 100%;

  section & {
    @extend .rohy;
    border-width: 5px;
    border-style: solid;
    border-color: map-get($colors, "blue");
    background-color: map-get($colors, "blue");
  }
  section a & {
    @extend .rohy;
    border-width: 5px;
    border-style: solid;
    border-color: map-get($colors, "blue");
  }
  section.reference a & {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
}

section iframe {
  @media all and (min-width: 600px) {
    width: 669px;
    width: 50vmin;
    height: 376px;
    height: 28vmin;
  }
  width: 100%;
  height: 200px;
  height: 28vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  @extend .rohy;
  border-width: 5px;
  border-style: solid;
  border-color: map-get($colors, "red");
  background-color: map-get($colors, "red");
}

section table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-size: 1.2em;
    color: map-get($colors, "white");
    background-color: map-get($colors, "green");
  }
  th, td {
    padding: .5em .7em;
    @media all and (max-width: 599.9px) {
      font-size: .8em;
    }
  }
  td {
    border-bottom: 1px dotted map-get($colors, "gray");
  }
}


.o-nas {
  h3 {
    text-align: left;
  }
  img {
    border: 0;
    background-color: transparent;
  }
}

.partner {
  font-size: 2em;
  text-align: left;
}

.aktuality {
  @media all and (max-width: 599.9px) {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  @media all and (min-width: 600px) {
    h3, h4 {
      text-align: left;
    }
  }
  h3 {
    padding-bottom: 0;
  }
  h4 {
    padding-top: 0;
  }
}

.odeslano, .chyba {
  display: none;
}
#odeslano:target {
  ~ * {
    display: none;
  }
  ~ h1, ~ h3, ~ .odeslano {
    display: block;
  }
}
#chyba:target ~ .chyba {
  display: block;
}

.more {
  display: none;
}

.main-axis-center {
  justify-content: center;
}

.cross-axis-center {
  align-items: center;
}

.m-lr {
  margin-left: 2em;
  margin-right: 2em;
}

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: $font;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
